<%= form_with(model: reservation, local: true) do |form| %>
    <% if reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
            <% reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    
    <p>
      <strong>Car plate number:</strong>
      <%= Car.find(@reservation.car_id).licensePlateNumber %>
    </p>

    <div class="card-body">
      <%= form.label "Check out time:" %><br>
      <%= form.datetime_select :checkOutTime, id: :reservation_checkOutTime %>
    </div>
    
    <br>

    <div class="card">
      <%= form.label "Expected return time:" %> <br>
      <%= form.datetime_select :expectedReturnTime, id: :reservation_expectedReturnTime %>
    </div>
    
    <br>

    <div class="actions">
      <% form.hidden_field :car_id%>
      <% hidden_field_tag 'car_id', @reservation.car_id %>
      <%= form.submit "Make a reservation" %>
    </div>
<% end %>
